body {
	font-family: 'Mukta Malar', sans-serif;
}

hr {
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
	margin-bottom: 30px;
	margin-top: 30px;
}

.active {
	border-bottom: 2px solid red;
}

.jumbotron {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	font-family: 'Roboto Mono', monospace;
}

.home-header {
	text-align: center;
	margin-bottom: 2em;
}

.home-header h1 {
	margin-top: 10px;
}

.project-footer {
	text-align:	center;
}

.project p {
	font-size: 1.25em;
}

.about h3 {
	font-size: 2.5em;
}

.about p, .about li {
	font-size: 1.25em;
}

.about ul {
	list-style-type: circle;
}

.wishlist h1 {
	color: white;
	background-color: #40e0d0;
	font-family: 'Satisfy', cursive;
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0;
	text-align: center;
	font-size: 4em;
}

.honeycomb h1 {
	color: black;
	background-color: orange;
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0;
	text-align: center;
	font-size: 4em;
}

.arcade h1 {
	color: #d4d4d4;
	background: #67B26F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto Mono', monospace;
	padding-top: 70px;
	padding-bottom: 70px;
	margin: 0;
	text-align: center;
	font-size: 4em;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.home-footer {
	text-align: center;
	margin-bottom: 2em;
	background: #EB5757;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding-top: 30px;
	padding-bottom: 30px;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
	color: white;
}

.home-footer a {
	color: white;
	font-size: 1.5em;
	font-family: 'Mukta Malar', sans-serif;
}

a:hover {
	text-decoration: none;
}